/* Genel Ayarlar */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Giriş Ekranı */
.login-screen {
    text-align: center;
    background-color: #1f1f1f;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.login-screen h1 {
    color: #ffcc00;
    margin-bottom: 20px;
}

.login-screen input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #ffffff;
    text-align: center;
}

.animated-button {
    background-color: #ffcc00;
    color: #121212;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    font-weight: bold;
}

.animated-button:hover {
    background-color: #e6b800;
    transform: scale(1.05);
}

/* Ana Sayfa */
header {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
}

.map {
    flex-grow: 1;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #2a2a2a;
}

.mission {
    width: 300px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: #ffcc00;
    text-align: center;
}

.mission input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #b0b0b0;
    background-color: #2a2a2a;
    color: #ffffff;
}

button {
    width: 100%;
    margin-top: 10px;
    background-color: #ffcc00;
    color: #121212;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #e6b800;
}
